fastapi
uvicorn
asyncpg
sqlalchemy[asyncio]
passlib[bcrypt]
bcrypt==4.0.1
chromadb
langchain
langchain-community
langchain-core
langchain-deepseek
python-dotenv
markdown
pyannote.audio
pyannote.core
openai-whisper
librosa
weasyprint
Resemblyzer
python-docx
python-pptx